.TodoInsert {
  display: flex;
  background: var(--color-accent);

  input {
    background: var(--color-bg);
    border: none;
    padding: 0.5rem;
    font-size: 1.125rem;
    line-height: 1.5;
    color: var(--color-text);
    flex: 1;

    &::placeholder {
      color: #ccc;
    }
  }

  input[type='time'] {
    width: 140px;
    height: 40px;
    padding: 6px 10px;
    font-size: 1rem;
    border-radius: 4px;
    margin-left: 0.5rem;
    background-color: #222;
    color: #fff;
    border: 1px solid #444;
  }

  button {
    background: var(--color-accent);
    color: var(--color-text-light);
    padding: 0 1rem;
    font-size: 1.5rem;
    cursor: pointer;

    &:hover {
      background: #38d9a9;
    }
  }
}
